.videos {
  padding-bottom: 2rem;
}

.videosContainer {
  margin: 0 auto;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media (max-width: 1200px) {
  .videosContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
